BerkeleyX: Data8.2x

Foundations of Data Science: Inferential Thinking by Resampling

In [1]:
from datascience import *
import numpy as np

Lec 2.1 Monty Hall Problem

In [2]:
# behind doors, two goats and a car
goats = ['G1', 'G2']
hidden_behind_doors = goats + ['car']

In [3]:
def other_goat(goat):
    if goat == goats[0]:
        return goats[1]
    if goat == goats[1]:
        return goats[0]

In [4]:
def monty_hall_game():
    """[contestant's guess, revealed, remains]"""
    contestant_guess = np.random.choice(hidden_behind_doors)
    
    if contestant_guess == goats[0]:
        return [goats[0], goats[1], 'car']
    elif contestant_guess == goats[1]:
        return [goats[1], goats[0], 'car']
    else:
        revealed = np.random.choice(goats)
        return ['car', revealed, other_goat(revealed)]

In [5]:
monty_hall_game()

['car', 'G1', 'G2']

In [6]:
trials = Table(['guess', 'revealed', 'remains'])
for i in range(10000):
    trials.append(monty_hall_game())

trials

guess | revealed | remains
G2    | G1       | car
car   | G1       | G2
G2    | G1       | car
G2    | G1       | car
G1    | G2       | car
G1    | G2       | car
G1    | G2       | car
G2    | G1       | car
G1    | G2       | car
G2    | G1       | car
... (9990 rows omitted)

In [7]:
# pivot to show what remains after each guess
trials.pivot('remains', 'guess')

guess | G1   | G2   | car
G1    | 0    | 0    | 3321
G2    | 0    | 0    | 3358
car   | 1676 | 1645 | 0

In [8]:
# grouping by guess, we see how the choices are about even
trials.group('guess')

guess | count
G1    | 3321
G2    | 3358
car   | 3321

In [9]:
# about 2/3 of the times, car is behind the other door
trials.group('remains')

remains | count
G1      | 1676
G2      | 1645
car     | 6679

Lec 2.5 Probability Example

In [10]:
# probability of getting at least one head on three flips of coin:

# any outcome but all tails
all_tails = 1/2 ** 3
print(1 - all_tails)

0.875

Practice

In [11]:
# rolling a die 4 times, calculate the chances of

# all 5
all_5 = 1/6**4
print(all_5)

# all of a kind
aoak = 6 * 1/6**4
print(aoak, aoak == 1/6**3)

# at least two different values
al2dv = 1 - aoak
print(al2dv)

0.0007716049382716049
0.004629629629629629 True
0.9953703703703703

In [12]:
# rolling two dices, probability at least a six
print(1/6 + 1/6 - 1/36, 11/36)

0.3055555555555555 0.3055555555555556