_My notebook on_
# Python for Data Analysis - Wes McKinney
## Chapter 6 - Data Loading, Storage, and File Formats

In [1]:
import pandas as pd
import numpy as np

### Part 2 - Binary Data Formats

In [2]:
# serializing a dataframe as pickle
df = pd.read_csv('examples/ex1.csv')
print(df)
df.to_pickle('examples/ex1.pkl')

# picking up a pickle
print('---')
pickle = pd.read_pickle('examples/ex1.pkl')
print(pickle)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
---
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Using HDF5 Format

In [3]:
df = pd.DataFrame({'a': np.random.randn(100)})
print('First element in df:', df.loc[0][0])
store = pd.HDFStore('examples/mydata.h5')
store['obj1'] = df
store['obj1_col'] = df['a']
print('First element in stored df:', store['obj1'].loc[0][0])
# print('First element in stored series:', store['obj1_col'][0])
store.close()

# read hdf
df2 = pd.read_hdf('examples/mydata.h5', 'obj1')
print('First element in stored df2:', df2.loc[0][0])

First element in df: -1.8291186965230715
First element in stored df: -1.8291186965230715
First element in stored df2: -1.8291186965230715

Reading Microsoft Excel Files

In [4]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')
df = pd.read_excel(xlsx, 'Sheet1')
print(df)
print('---')
print(pd.read_excel('examples/ex1.xlsx', 'Sheet1'))

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
---
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### Part 3 - Interacting with Web APIs

In [5]:
import requests
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
try:
    response = requests.get(url)
    data = response.json()
    print(data[0]['title'])
    
    issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])
    print(issues)
except requests.exceptions.ConnectionError as ce:
    print(ce)

BUG to_clipboard passes the wrong sep to to_csv
    number                                              title  \
0    21398    BUG to_clipboard passes the wrong sep to to_csv
1    21397  DOC: Adding missing dependency sphinxcontrib-s...
2    21396      Missing dependency for sphinxcontrib-spelling
3    21394                 Bugfix timedelta notimplemented eq
4    21393  TST: adding test cases for verifying correct v...
5    21391  Error when unpickling subclass of pandas.DataF...
6    21390  groupby on 2 categorical columns, when one cat...
7    21389                    Release 0.23.1 backports part I
8    21386  regression: bar plot with multi-column categor...
9    21385  to_clipboard undocumentedly changed from using...
10   21384  Accepts integer/float string with units and ra...
11   21383     Overflow in to_datetime when using nanoseconds
12   21381  TST : Adding new test case for pivot_table() w...
13   21380  pandas 0.23 broke unary negative expression on...
14   21379  read_html - how to prevent the conversion of n...
15   21378       BUG: Incorrect values shown by pivot_table()
16   21377   MAINT: More friendly error msg on Index overflow
17   21376                                   DOC: Pandas Logo
18   21374  pd.eval() discards imaginary part in division "/"
19   21373     ENH: use interface library for ExtensionArrays
20   21372                Improve HDFStore.groups performance
21   21370  TST: add additional test cases for pivot_table...
22   21369         PERF: Add __contains__ to CategoricalIndex
23   21365  Fix Issue #21336: Defeault behavior for resolu...
24   21364      pandas read_sql missing dtype on empty result
25   21360            Unhandled pandas FutureWarning in tests
26   21359  Revert changes to comparison between Series[da...
27   21358  ENH: Allow DatetimeIndex.time to return timezo...
28   21357  ENH: adding .unique() to DF (or return_inverse...
29   21354                  CI: Enable spellcheck in docbuild

                                               labels state
0   [{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...  open
1   [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
2   [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
3   [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
4   [{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...  open
5   [{'id': 2301354, 'node_id': 'MDU6TGFiZWwyMzAxM...  open
6   [{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...  open
7   [{'id': 131473665, 'node_id': 'MDU6TGFiZWwxMzE...  open
8   [{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...  open
9   [{'id': 32815646, 'node_id': 'MDU6TGFiZWwzMjgx...  open
10  [{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...  open
11  [{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...  open
12  [{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...  open
13  [{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...  open
14  [{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...  open
15  [{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...  open
16  [{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...  open
17  [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...  open
18  [{'id': 57296398, 'node_id': 'MDU6TGFiZWw1NzI5...  open
19  [{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...  open
20  [{'id': 47229190, 'node_id': 'MDU6TGFiZWw0NzIy...  open
21  [{'id': 127685, 'node_id': 'MDU6TGFiZWwxMjc2OD...  open
22  [{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...  open
23  [{'id': 211840, 'node_id': 'MDU6TGFiZWwyMTE4ND...  open
24  [{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...  open
25  [{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...  open
26  [{'id': 47223669, 'node_id': 'MDU6TGFiZWw0NzIy...  open
27  [{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...  open
28  [{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...  open
29  [{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...  open

### Part 4 - Interacting with Databases

In [7]:
import sqlite3
query = 'DROP TABLE test;'
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()

query = 'CREATE TABLE test(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);'
con = sqlite3.connect('mydata.sqlite')
con.execute(query)
con.commit()


data = [
    ('Atlanta', 'Georgia', 1.25, 6),
    ('Tallahassee', 'Florida', 2.6, 3),
    ('Sacramento', 'California', 1.7, 5)
]

stmt = 'INSERT INTO test VALUES(?, ?, ?, ?)'
con.executemany(stmt, data)
con.commit()

In [8]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
print(rows)

df = pd.DataFrame(rows, columns=[x[0] for x in cursor.description])
print(df)

[('Atlanta', 'Georgia', 1.25, 6), ('Tallahassee', 'Florida', 2.6, 3), ('Sacramento', 'California', 1.7, 5)]
             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

Simpler job with SQL Alchemy

In [9]:
import sqlalchemy as sqla
db = sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql('select * from test', db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5