_My notebook on_
# Python for Data Analysis - Wes McKinney
## Chapter 8 - Data Wrangling: Join, Combine, and Reshape

In [1]:
import numpy as np
import pandas as pd

## Part 2 - Combining and Merging Datasets

In [2]:
df1 = pd.DataFrame({
    'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
    'data1': range(7)})

df2 = pd.DataFrame({
    'key': ['a', 'b', 'd'],
    'data2': range(3)})

print(df1)
print(df2)
print('-- many to one (natural inner) join')
print(pd.merge(df1, df2))
print('same, but explicit join on key')
print(pd.merge(df1, df2, on='key'))

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   a
6      6   b
   data2 key
0      0   a
1      1   b
2      2   d
-- many to one (natural inner) join
   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0
same, but explicit join on key
   data1 key  data2
0      0   b      1
1      1   b      1
2      6   b      1
3      2   a      0
4      4   a      0
5      5   a      0

In [3]:
df3 = pd.DataFrame({
    'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
    'data1': range(7)})

df4 = pd.DataFrame({
    'rkey': ['a', 'b', 'd'],
    'data2': range(3)})

print(df3)
print(df4)
print('-- different left and right key')
print(pd.merge(df3, df4, left_on='lkey', right_on='rkey'))

   data1 lkey
0      0    b
1      1    b
2      2    a
3      3    c
4      4    a
5      5    a
6      6    b
   data2 rkey
0      0    a
1      1    b
2      2    d
-- different left and right key
   data1 lkey  data2 rkey
0      0    b      1    b
1      1    b      1    b
2      6    b      1    b
3      2    a      0    a
4      4    a      0    a
5      5    a      0    a

In [4]:
print('-- outer join')
print(pd.merge(df1, df2, how='outer'))
print('-- left join')
print(pd.merge(df1, df2, how='left'))
print('-- right join')
print(pd.merge(df1, df2, how='right'))

-- outer join
   data1 key  data2
0    0.0   b    1.0
1    1.0   b    1.0
2    6.0   b    1.0
3    2.0   a    0.0
4    4.0   a    0.0
5    5.0   a    0.0
6    3.0   c    NaN
7    NaN   d    2.0
-- left join
   data1 key  data2
0      0   b    1.0
1      1   b    1.0
2      2   a    0.0
3      3   c    NaN
4      4   a    0.0
5      5   a    0.0
6      6   b    1.0
-- right join
   data1 key  data2
0    0.0   b      1
1    1.0   b      1
2    6.0   b      1
3    2.0   a      0
4    4.0   a      0
5    5.0   a      0
6    NaN   d      2

In [5]:
# Many-to-many merges
df1 = pd.DataFrame({
    'key': ['b', 'b', 'a', 'c', 'a', 'b'],
    'data1': range(6)})
df2 = pd.DataFrame({
    'key': ['a', 'b', 'a', 'b', 'd'],
    'data2': range(5)})
print(df1)
print(df2)

# cartesian product of the rows
# b's are 3x2
# a's are 2x2
# 1 c (because of left join)
print('-- left join')
print(pd.merge(df1, df2, on='key', how='left'))
print('-- inner join')
print(pd.merge(df1, df2, how='inner'))

   data1 key
0      0   b
1      1   b
2      2   a
3      3   c
4      4   a
5      5   b
   data2 key
0      0   a
1      1   b
2      2   a
3      3   b
4      4   d
-- left join
    data1 key  data2
0       0   b    1.0
1       0   b    3.0
2       1   b    1.0
3       1   b    3.0
4       2   a    0.0
5       2   a    2.0
6       3   c    NaN
7       4   a    0.0
8       4   a    2.0
9       5   b    1.0
10      5   b    3.0
-- inner join
   data1 key  data2
0      0   b      1
1      0   b      3
2      1   b      1
3      1   b      3
4      5   b      1
5      5   b      3
6      2   a      0
7      2   a      2
8      4   a      0
9      4   a      2

In [6]:
# merge with multiple keys
left = pd.DataFrame({
    'key1': ['foo', 'foo', 'bar'],
    'key2': ['one', 'two', 'one'],
    'lval': [1, 2, 3]})
right = pd.DataFrame({
    'key1': ['foo', 'foo', 'bar', 'bar'],
    'key2': ['one', 'one', 'one', 'two'],
    'rval': [4, 5, 6, 7]})
print(left)
print(right)
print('-- outer join on key1 and key2')
print(pd.merge(left, right, on=['key1', 'key2'], how='outer'))

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3
  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7
-- outer join on key1 and key2
  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

In [7]:
# overlapping column names
print(left)
print(right)

# automatic suffix to avoid name clash 
print(pd.merge(left, right, on='key1'))
# explicit suffix
print(pd.merge(left, right, on='key1', suffixes=('_left', '_right')))

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3
  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7
  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7
  key1 key2_left  lval key2_right  rval
0  foo       one     1        one     4
1  foo       one     1        one     5
2  foo       two     2        one     4
3  foo       two     2        one     5
4  bar       one     3        one     6
5  bar       one     3        two     7

Merging on Index

In [8]:
left1 = pd.DataFrame({
    'key': ['a', 'b', 'a', 'a', 'b', 'c'],
    'value': range(6)})
right1 = pd.DataFrame({
    'group_val': [3.5, 7]},
    index=['a', 'b'])
print(left1)
print(right1)

# left inner join on key and right index
print(pd.merge(left1, right1, left_on='key', right_index=True))

# outer join on key and right index
print(pd.merge(left1, right1, left_on='key', right_index=True, how='outer'))

# same
print(left1.join(right1, on='key'))

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5
   group_val
a        3.5
b        7.0
  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0
5   c      5        NaN
  key  value  group_val
0   a      0        3.5
1   b      1        7.0
2   a      2        3.5
3   a      3        3.5
4   b      4        7.0
5   c      5        NaN

In [9]:
# merge on hierarchically indexed data
lefth = pd.DataFrame({
    'key1': ['Ohio', 'Ohio', 'Ohio','Nevada', 'Nevada'],
    'key2': [2000, 2001, 2002, 2001, 2002],
    'data': np.arange(5.)})

righth = pd.DataFrame(
    np.arange(12).reshape((6, 2)),
    index=[
        ['Nevada', 'Nevada', 'Ohio', 'Ohio','Ohio', 'Ohio'],
        [2001, 2000, 2000, 2000, 2001, 2002]],
    columns=['event1', 'event2'])

print(lefth)
print(righth)

# right is multi-index, left should match them
print(pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True))

# same but outer join
print(pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True, how='outer'))

   data    key1  key2
0   0.0    Ohio  2000
1   1.0    Ohio  2001
2   2.0    Ohio  2002
3   3.0  Nevada  2001
4   4.0  Nevada  2002
             event1  event2
Nevada 2001       0       1
       2000       2       3
Ohio   2000       4       5
       2000       6       7
       2001       8       9
       2002      10      11
   data    key1  key2  event1  event2
0   0.0    Ohio  2000       4       5
0   0.0    Ohio  2000       6       7
1   1.0    Ohio  2001       8       9
2   2.0    Ohio  2002      10      11
3   3.0  Nevada  2001       0       1
   data    key1  key2  event1  event2
0   0.0    Ohio  2000     4.0     5.0
0   0.0    Ohio  2000     6.0     7.0
1   1.0    Ohio  2001     8.0     9.0
2   2.0    Ohio  2002    10.0    11.0
3   3.0  Nevada  2001     0.0     1.0
4   4.0  Nevada  2002     NaN     NaN
4   NaN  Nevada  2000     2.0     3.0

In [10]:
# indexes of both sides
left2 = pd.DataFrame(
    [[1., 2.], [3., 4.], [5., 6.]],
    index=['a', 'c', 'e'],
    columns=['Ohio', 'Nevada'])

right2 = pd.DataFrame(
    [[7., 8.], [9., 10.], [11., 12.], [13, 14]],
    index=['b', 'c', 'd', 'e'],
    columns=['Missouri', 'Alabama'])

print('-- left2')
print(left2)
print('-- right2')
print(right2)

# outer join using left and right indexes
print(pd.merge(left2, right2, how='outer', left_index=True, right_index=True))

# same
print(left2.join(right2, how='outer'))

another = pd.DataFrame(
    [[7., 8.], [9., 10.], [11., 12.], [16., 17.]],
    index=['a', 'c', 'e', 'f'],
    columns=['New York', 'Oregon'])

print('-- another')
print(another)

# simplify concat
print(left2.join([right2, another]))

# ditto outer
print(left2.join([right2, another], how='outer'))

-- left2
   Ohio  Nevada
a   1.0     2.0
c   3.0     4.0
e   5.0     6.0
-- right2
   Missouri  Alabama
b       7.0      8.0
c       9.0     10.0
d      11.0     12.0
e      13.0     14.0
   Ohio  Nevada  Missouri  Alabama
a   1.0     2.0       NaN      NaN
b   NaN     NaN       7.0      8.0
c   3.0     4.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   5.0     6.0      13.0     14.0
   Ohio  Nevada  Missouri  Alabama
a   1.0     2.0       NaN      NaN
b   NaN     NaN       7.0      8.0
c   3.0     4.0       9.0     10.0
d   NaN     NaN      11.0     12.0
e   5.0     6.0      13.0     14.0
-- another
   New York  Oregon
a       7.0     8.0
c       9.0    10.0
e      11.0    12.0
f      16.0    17.0
   Ohio  Nevada  Missouri  Alabama  New York  Oregon
a   1.0     2.0       NaN      NaN       7.0     8.0
c   3.0     4.0       9.0     10.0       9.0    10.0
e   5.0     6.0      13.0     14.0      11.0    12.0
   Ohio  Nevada  Missouri  Alabama  New York  Oregon
a   1.0     2.0       NaN      NaN       7.0     8.0
b   NaN     NaN       7.0      8.0       NaN     NaN
c   3.0     4.0       9.0     10.0       9.0    10.0
d   NaN     NaN      11.0     12.0       NaN     NaN
e   5.0     6.0      13.0     14.0      11.0    12.0
f   NaN     NaN       NaN      NaN      16.0    17.0

Concatenating Along an Axis

In [11]:
# numpy concatenation of arrays
arr = np.arange(12).reshape((3, 4))
print(arr)

print(np.concatenate([arr, arr]))
print(np.concatenate([arr, arr], axis=1))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[[ 0  1  2  3  0  1  2  3]
 [ 4  5  6  7  4  5  6  7]
 [ 8  9 10 11  8  9 10 11]]

In [12]:
# concatenation on Series
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])

print(s1)
print(s2)
print(s3)

# default axis is 0, rows: get a Series
print(pd.concat([s1, s2, s3]))

# concat on columns, get a DataFrame - sorted outer join
print(pd.concat([s1, s2, s3], axis=1))

a    0
b    1
dtype: int64
c    2
d    3
e    4
dtype: int64
f    5
g    6
dtype: int64
a    0
b    1
c    2
d    3
e    4
f    5
g    6
dtype: int64
     0    1    2
a  0.0  NaN  NaN
b  1.0  NaN  NaN
c  NaN  2.0  NaN
d  NaN  3.0  NaN
e  NaN  4.0  NaN
f  NaN  NaN  5.0
g  NaN  NaN  6.0

In [13]:
s4 = pd.concat([s1, s3])
print(s1)
print(s4)

# by default outer join
print(pd.concat([s1, s4], axis=1))

# full inner join
print(pd.concat([s1, s4], axis=1, join='inner'))

# specify the axes to be used
print(pd.concat([s1, s4], axis=1, join_axes=[['a', 'c', 'b', 'e']]))
print('---')

# create a hierarchical index on the concatenation axis
result = pd.concat([s1, s1, s3], keys=['one', 'two', 'three'])
print(result)

print(result.unstack())

print('---')
print(pd.concat([s1, s2, s3], axis=1, keys=['one', 'two', 'three']))

a    0
b    1
dtype: int64
a    0
b    1
f    5
g    6
dtype: int64
     0  1
a  0.0  0
b  1.0  1
f  NaN  5
g  NaN  6
   0  1
a  0  0
b  1  1
     0    1
a  0.0  0.0
c  NaN  NaN
b  1.0  1.0
e  NaN  NaN
---
one    a    0
       b    1
two    a    0
       b    1
three  f    5
       g    6
dtype: int64
         a    b    f    g
one    0.0  1.0  NaN  NaN
two    0.0  1.0  NaN  NaN
three  NaN  NaN  5.0  6.0
---
   one  two  three
a  0.0  NaN    NaN
b  1.0  NaN    NaN
c  NaN  2.0    NaN
d  NaN  3.0    NaN
e  NaN  4.0    NaN
f  NaN  NaN    5.0
g  NaN  NaN    6.0

In [14]:
# concat on DataFrame
df1 = pd.DataFrame(
    np.arange(6).reshape(3, 2),
    index=['a', 'b', 'c'],
    columns=['one', 'two'])

df2 = pd.DataFrame(
    5 + np.arange(4).reshape(2, 2),
    index=['a', 'c'],
    columns=['three', 'four'])

print(df1)
print(df2)

print(pd.concat([df1, df2], axis=1, keys=['level1', 'level2']))
# same, using dict
print(pd.concat({'level1': df1, 'level2': df2}, axis=1))
# same, naming axis levels
print(pd.concat([df1, df2], axis=1, keys=['level1', 'level2'], names=['upper', 'lower']))

   one  two
a    0    1
b    2    3
c    4    5
   three  four
a      5     6
c      7     8
  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0
  level1     level2
     one two  three four
a      0   1    5.0  6.0
b      2   3    NaN  NaN
c      4   5    7.0  8.0
upper level1     level2
lower    one two  three four
a          0   1    5.0  6.0
b          2   3    NaN  NaN
c          4   5    7.0  8.0

In [15]:
# ignoring index
df1 = pd.DataFrame(np.random.randn(3, 4), columns=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['b', 'd', 'a'])

print(df1)
print(df2)

print(pd.concat([df1, df2]))
print(pd.concat([df1, df2], ignore_index=True))

          a         b         c         d
0  0.138357 -0.654368  0.070643  0.343678
1 -0.105294 -1.371042  0.293740 -1.661419
2 -1.207432 -0.477162  0.820395 -1.011606
          b         d         a
0 -1.469717  0.542466  1.964975
1  0.066896  0.979443  2.946331
          a         b         c         d
0  0.138357 -0.654368  0.070643  0.343678
1 -0.105294 -1.371042  0.293740 -1.661419
2 -1.207432 -0.477162  0.820395 -1.011606
0  1.964975 -1.469717       NaN  0.542466
1  2.946331  0.066896       NaN  0.979443
          a         b         c         d
0  0.138357 -0.654368  0.070643  0.343678
1 -0.105294 -1.371042  0.293740 -1.661419
2 -1.207432 -0.477162  0.820395 -1.011606
3  1.964975 -1.469717       NaN  0.542466
4  2.946331  0.066896       NaN  0.979443

Combining Data with Overlap

In [16]:
a = pd.Series(
    data=[np.nan, 2.5, np.nan, 3.5, 4.5, np.nan], 
    index=['f', 'e', 'd', 'c', 'b', 'a'])
b = pd.Series(
    data=np.arange(len(a), dtype=np.float64),
    index=['f', 'e', 'd', 'c', 'b', 'a'])
b[-1] = np.nan

print(a)
print(b)

# conditional data selection
print('\n-- np.where()')
print(np.where(pd.isnull(a), b, a))

# pandas
print('\n-- same with pd.Series.combine_first()')
print(a.combine_first(b))

f    NaN
e    2.5
d    NaN
c    3.5
b    4.5
a    NaN
dtype: float64
f    0.0
e    1.0
d    2.0
c    3.0
b    4.0
a    NaN
dtype: float64

-- np.where()
[0.  2.5 2.  3.5 4.5 nan]

-- same with pd.Series.combine_first()
f    0.0
e    2.5
d    2.0
c    3.5
b    4.5
a    NaN
dtype: float64

In [17]:
# DataFrame.combine_first()
df1 = pd.DataFrame({
    'a': [1., np.nan, 5., np.nan],
    'b': [np.nan, 2., np.nan, 6.],
    'c': range(2, 18, 4)})
df2 = pd.DataFrame({
    'a': [5., 4., np.nan, 3., 7.],
    'b': [np.nan, 3., 4., 6., 8.]})

print(df1)
print(df2)
print(df1.combine_first(df2))

     a    b   c
0  1.0  NaN   2
1  NaN  2.0   6
2  5.0  NaN  10
3  NaN  6.0  14
     a    b
0  5.0  NaN
1  4.0  3.0
2  NaN  4.0
3  3.0  6.0
4  7.0  8.0
     a    b     c
0  1.0  NaN   2.0
1  4.0  2.0   6.0
2  5.0  4.0  10.0
3  3.0  6.0  14.0
4  7.0  8.0   NaN